# Лабораторная №2

## Условия, циклы, функции


Нам дали задачу проверить, является ли участок земли квадратным. В переменных `length` и `width` заданы значения длины и ширины участка. Необходимо проверить, является ли он квадратным. Сохраните в переменную `result` значение `True`, если участок квадратный, и `False` — если нет.

In [ ]:
length = 121
width = 100
result = False

#Пример 2
length = 10
width = 10
result = True

In [2]:
# Напиши решение тут


Мы решили выплатить премии сотрудникам в зависимости от их стажа работы. Премия рассчитывается следующим образом:

- Если стаж работы сотрудника больше или равен 2 года, премия составляет 2 оклада.
- Если стаж работы сотрудника больше или равен 5 лет, премия составляет 5 окладов.
- Если стаж работы сотрудника больше или равен 15 лет, премия составляет 10 окладов.
- Если стаж работы меньше 2 лет, премия равна 0.

В переменной `salary` — зарплата сотрудника, в переменной `work_experience` — его стаж. Нужно вычислить размер премии и сохранить результат в переменную `result`.

In [5]:
# Пример 1
salary = 150000
work_experience = 3
result = 300000

# Пример 2
salary = 100000
work_experience = 1
result = 0

# Пример 3
salary = 200000
work_experience = 16
result = 2000000

In [6]:
# Напиши решение тут

Есть словарь `sales`, содержащий информацию о продуктах и их ценах в магазине. В список `affordable_products` нужно сохранить названия всех продуктов, которые стоят меньше или равны 500.

In [8]:
sales = {
    "laptop": 700,
    "smartphone": 100,
    "headphones": 50,
    "mouse": 20,
    "keyboard": 40
}
# Output: ['laptop', 700]

In [7]:
# Напиши решение тут

Напишите программу, принимающую в виде аргументов два списка `lst_1` и `lst_2` и определяющую, являются ли они противоположными друг другу. Результат проверки сохраните в result в формате True или False.

Каждая пара списков будет состоять из одинаковых элементов (типа a и b). Список считается анти-списком, если все элементы в нем противоположны соответствующим элементам в первом списке.

In [9]:
lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "0"]
result = True

lst_1 = [3, 4]
lst_2 = [4, 3]
result = True

lst_1 = [1, 1]
lst_2 = [2, 2]
result = False

In [ ]:
# Напиши решение тут

Задана переменная `m` — список из списков одинаковой длины. Проверьте, что суммы элементов на диагоналях равны.

Результат проверки сохраните в `result` в формате True или False.

In [2]:
# Пример 1
m = [[1, 23, 4],
     [3, 2, 1],
     [6, 3, 4]]
result = False

# Пример 2
m = [[1, 23, 4],
     [3, 2, 1],
     [1, 3, 4]]
result = True

In [10]:
# Напиши решение тут
m = [[1, 23, 4],
     [3, 2, 1],
     [6, 3, 4]]
rangeM = len(m)

suma = sum(m[i][i] for i in range(rangeM))
antisuma = sum(m[i][rangeM-i-1] for i in range(rangeM))
print(suma)
print(antisuma)

7
12

Дан список кортежей `input_list`. Отсортируйте `input_list` по 2 элементу кортежа в порядке убывания. Отфильтруйте список так, чтобы остались только те элементы, второе значение в кортеже у которых кратно 5.

Результат сохраните в `result`.

Для решения задачи используйте lambda-функцию.

In [15]:
input_list = [('Anna', 13), ('Ivan', 20), ('Irina', 23), ('Olga', 25),
              ('Ivan', 30), ('Oleg', 24), ('Olga', 26)]
result = [('Ivan', 30), ('Olga', 25), ('Ivan', 20)]

In [1]:
# Напиши решение тут
input_list = [('Anna', 13), ('Ivan', 20), ('Irina', 23), ('Olga', 25),
              ('Ivan', 30), ('Oleg', 24), ('Olga', 26)]

result = [item for item in input_list if item[1] % 5 == 0] 
print(result)

[('Ivan', 20), ('Olga', 25), ('Ivan', 30)]

Гипотеза Коллатца: какое бы начальное натуральное число n мы ни взяли, рано или поздно мы получим единицу, если выполняем следующие преобразования:

- Если n чётное, то делим его на 2;
- Если n нечётное, то умножаем на 3 и прибавляем 1 (получаем 3n + 1).
Напишите функцию `def collatz_conjecture()`, которая будет принимать натуральное число n и возвращать последовательность чисел, полученных указанными выше преобразованиями.

In [16]:
def collatz_conjecture(n):
    ...

collatz_conjecture(8) # -> [8, 4, 2, 1]
collatz_conjecture(3) # -> [3, 10, 5, 16, 8, 4, 2, 1]

In [43]:
# Напиши решение тут
def collatz_conjecture(n):
    steps =[]
    while n != 1: 
        steps.append(n)
        if n % 2 == 0:
            n = n / 2
        else:
            n = 3 * n + 1
    steps.append(1)
    return steps
n = 255
result = collatz_conjecture(n)
print(result)

[255, 766, 383.0, 1150.0, 575.0, 1726.0, 863.0, 2590.0, 1295.0, 3886.0, 1943.0, 5830.0, 2915.0, 8746.0, 4373.0, 13120.0, 6560.0, 3280.0, 1640.0, 820.0, 410.0, 205.0, 616.0, 308.0, 154.0, 77.0, 232.0, 116.0, 58.0, 29.0, 88.0, 44.0, 22.0, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1]